
div{
    height: 100px;
    width: 100px;
    background-color: pink;
    /* border-width: 2px;
    border-style: solid;
    border-color:aqua; */
    text-align: center;
    border: 3px dashed orange;
    border-radius: 10%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    height: 50px;
    width: 400px;
    background-color: yellow;
    /* border-width: 4px;
    border-style:dotted;
    border-color:blue; */
    text-align:center;
    border: 5px dotted red;
    border-radius: 10px;
    /* padding: 10px; */
    padding: 5px 10px 15px 20px;
    margin: 25px;
}