h1 {
    color: rgb(8, 99, 68);
}

h2{
    color:black;
}

p{
    color:rgb(126, 96, 59);
}

button{
    color:rgb(126, 96, 59);
    background-color:skyblue;
}

body{
    background-color:burlywood;
}


